/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #05000f;
  --primary: #000;
  --secondary: rgba(0, 0, 0, 0.6);
  --border: rgba(6, 0, 16, 0.1);
  --primary-font: 'Tiempos Headline', 'cursive', system-ui;
  --secondary-font: 'Plus Jakarta Sans', sans-serif, system-ui;
}

/*--------------------------------------------------------------
## All Font Variable
----------------------------------------------------------------*/
