.container {
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1400px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.cs_header {
  position: fixed;
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  &.active {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
}
.cs_header_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.cs_nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #fff;
  @media (max-width: 450px) {
    gap: 20px;
  }
  @media (max-width: 375px) {
    font-size: 16px;
    gap: 15px;
  }
  a {
    &:hover {
      color: #fff;
      opacity: 0.7;
    }
  }
}
@media (max-width: 450px) {
  .cs_logo {
    img {
      height: 40px;
    }
  }
}
@media (max-width: 375px) {
  .cs_logo {
    img {
      height: 36px;
    }
  }
}
.cs_hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 80px;
  h1 {
    font-size: 63px;
    color: #fff;
    @media (max-width: 575px) {
      br {
        display: none;
      }
    }
  }
  p {
    font-size: 27px;
    line-height: 1.4em;
    color: #fff;
    margin-bottom: 58px;
  }
  .container {
    position: relative;
    z-index: 2;
  }
}

.cs_btn {
  display: inline-flex;
  background-color: #2956e9;
  color: #fff;
  max-width: 259px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5em;
  padding: 14px 30px;
  transition: all 0.4s ease;
  outline: none;
  border-radius: 12px;
  &:hover {
    background-color: #1c44c9;
    color: #fff;
  }
}
.cs_hero_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.cs_funfact_wrap {
  text-align: center;
  padding: 140px 0 0;
  @media (max-width: 991px) {
    padding: 90px 0 0;
  }
  .cs_funfact_title {
    font-size: 22.5px;
    line-height: 1.5em;
    max-width: 842px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 58px;
  }
  .cs_funfact_in {
    display: flex;
    justify-content: center;
    gap: 30px 40px;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 16px;
    border-radius: 16px;
    padding: 40px 30px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  }
  .cs_funfact_item {
    flex: 1;
  }
}
.cs_feature_wrap_section {
  padding-top: 140px;
  @media (max-width: 991px) {
    padding-top: 90px;
  }
}
.cs_feature_wrap {
  position: relative;
}
.cs_funfact_item {
  h3 {
    font-size: 36px;
    margin-bottom: 5px;
    color: #2956e9;
    font-weight: 800;
  }
  p {
    margin-bottom: 0;
  }
}

.cs_features {
  display: grid;
  grid-gap: 46px 24px;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 2;
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cs_feature_item {
  transition: all 0.3s ease;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 16px;
  padding: 10px;
  cursor: pointer;
  &:hover {
    transform: translateY(-6px);
  }

  .cs_feature_info {
    padding: 20px 0 15px;
  }
  h3 {
    font-size: 27px;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}
.cs_section_title {
  font-size: 36px;
  margin-bottom: 36px;
  position: relative;
  z-index: 2;
}
.cs_section_title_2 {
  font-size: 128px;
  color: #eee;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
  top: -25px;
  @media (max-width: 991px) {
    font-size: 92px;
    top: 5px;
    display: none;
  }
}
.cs_contact_wrap_section {
  padding: 140px 0 115px;
  @media (max-width: 991px) {
    padding: 90px 0 65px;
  }
}
.cs_contact_wrap {
  display: flex;
  @media (max-width: 991px) {
    flex-direction: column;
  }
  .cs_contact_wrap_left {
    flex: none;
    width: 34%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .cs_contact_wrap_right {
    flex: none;
    width: 66%;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}
.cs_footer {
  font-size: 12px;
  letter-spacing: 0.04px;
  line-height: 1.33em;
  text-align: center;
  padding: 30px 0;
}
label {
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 8px;
  display: block;
}
.cs_form_field {
  display: block;
  width: 100%;
  border: 1px solid rgba(1, 6, 47, 0.17);
  line-height: 1.5em;
  padding: 15px 20px;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 6px;
  margin-bottom: 38px;
  @media (max-width: 991px) {
    margin-bottom: 30px;
  }
  &:focus {
    border-color: rgba(1, 6, 47, 0.37);
  }
}

.cs_form_btn {
  border: 1px solid #2956e9;
  width: 100%;
  background-color: #2956e9;
  color: #fff;
  line-height: 1.5em;
  padding: 15px 30px;
  border-radius: 16px;
  transition: all 0.4s ease;
  &:hover {
    background-color: #1c44c9;
    border-color: #1c44c9;
    color: #fff;
  }
}
.cs_modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: none;
  &.active {
    display: block;
  }
}
.cs_modal_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: zoom-out;
}
.cs_modal_body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  min-height: 100%;
  padding: 50px;
  line-height: 1.6em;
  position: relative;
  z-index: 1;
  @media (max-width: 991px) {
    padding: 60px 25px;
  }
  h2 {
    font-size: 60px;
    margin-bottom: 25px;
    @media (max-width: 420px) {
      font-size: 48px;
    }
  }
  h3 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 20px;
  }
  img {
    border: 1px solid var(--border);
    margin-bottom: 30px;
  }
  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.close_modal {
  position: fixed;
  right: 30px;
  top: 22px;
  background: transparent;
  border: 1px solid currentColor;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
  transition: all 0.3s ease;
  color: #fff;
  @media (max-width: 1200px) {
    color: rgba(0, 0, 0, 0.6);
    right: 15px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: currentColor;
    top: 50%;
    left: 50%;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    opacity: 0.5;
  }
}
.cs_strategy {
  padding-top: 90px;
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  .cs_strategy_first_text {
    max-width: 950px;
    margin-bottom: 80px;
    color: var(--primary);
    font-size: 20px;
    line-height: 1.5em;
    @media (max-width: 991px) {
      margin-bottom: 60px;
    }
  }
  h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  strong {
    font-weight: 600;
    color: var(--primary);
  }

  ol {
    margin: 0 0 50px 0;
    li {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
.cs_strategies {
  display: grid;
  grid-gap: 30px 20px;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 2;
  margin-bottom: 100px;
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}
.cs_strategy_item {
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  @media (max-width: 575px) {
    padding: 25px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    color: var(--primary);
    margin-bottom: 0;
  }
}
.cs_page_heading {
  background-color: var(--primary);
  padding: 150px 0 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    font-size: 63px;
    color: #fff;
    margin: 0;
  }
}
